@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadein {
  animation: fadein 1.2s ease forwards;
}

html {
  scroll-behavior: smooth;
}


.prose {
  color: #1f2937; 
  max-width: none;
  line-height: 1.75;
  font-size: 1rem;
}

.dark .prose {
  color: #d1d5db; 
}

.prose h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: #111827; 
}

.dark .prose h1 {
  color: #ffffff;
}

.prose h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #1f2937;
}

.dark .prose h2 {
  color: #d1d5db;
}

.prose h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #059669;
}

.dark .prose h3 {
  color: #34d399;
}

.prose p {
  margin-bottom: 1rem;
  text-align: justify;
  color: #374151; 
}

.dark .prose p {
  color: #d1d5db;
}

.prose ul,
.prose ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  color: #374151;
}

.dark .prose ul,
.dark .prose ol {
  color: #d1d5db;
}

.prose li {
  margin-bottom: 0.5rem;
}

.prose a {
  color: #059669;
  text-decoration: none;
}

.dark .prose a {
  color: #10b981;
}

.prose a:hover {
  text-decoration: underline;
}

.prose blockquote {
  border-left: 3px solid #10b981;
  padding-left: 1rem;
  color: #6b7280; 
  font-style: italic;
}

.dark .prose blockquote {
  border-left: 3px solid #34d399;
  color: #9ca3af;
}

.prose img {
  border-radius: 0.75rem;
  margin: 1rem 0;
}